		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<h2>About LearnX</h2><br>
					<p>LearnX are a series of experiential workshops created by the team behind Checkin101. Checkin101 is cloud software for change initiatives<br><br>
						Ramy, Sai and Sam have extensive experience in technology & business and created LearnX to bring this learning to the next generation.</p>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Notifr Ltd. All rights reserved.</li><li><a href="http://checkin101.com">Checkin101</a></li>
				</ul>
			</footer>

	</body>
</html>
