		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<h2>About LearnX</h2><br>
					<p>We're Ramy, Sai & Sam, and we've had years of experience developing software and technology-driven businesses. 
						<br>LearnX are kids workshops that we designed to be fun, interactive and excite using our collective expertise. 
						<br><br>Besides facilitating LearnX workshops, we're also the team behind Checkin101, a leading cloud software for organisation's to map stakeholder sentiment & resistance throughout change projects.
					</p>
					<p><img style="max-width: 400px;" src="{{ site.baseurl }}/assets/images/learnx-team-01.png"></p>
				</ul>
				<ul class="copyright">
					<li>&copy; Notifr Ltd. All rights reserved.</li><li><a href="http://checkin101.com">Checkin101</a></li>
				</ul>
			</footer>

	</body>
</html>
